<main>

    <section>

        {{#if LVM_TEXT}}
        <article>
            <h2>Large Vision Model Description</h2>
            {{{LVM_TEXT}}}
        </article>
        {{/if}}

        {{#if OCR_TEXT}}
        <article>
            <h2>Text extracted via OCR</h2>
            {{{OCR_TEXT}}}
        </article>
        {{/if}}

    </section>

    <section>
        <img src="{{IMAGE_URL}}" />
    </section>

</main>

<footer>
    <p>
        Learn more about how we generated this output <a href="https://blog.bacalhau.org/p/generating-automatic-alt-text-with" target="_blank" aria-label="Read more about generating automatic alt text on our blog (opens in a new tab)" rel="noopener noreferrer">on the Bacalhau blog</a>!
    </p>
</footer>