<main>

    <section>

        <article>
            <h2>Large Vision Model Description</h2>
            {{{LVM_TEXT}}}
        </article>

        {{!-- <article>
            <h2>Text extracted via OCR</h2>
            {{{OCR_TEXT}}}
        </article> --}}

    </section>

    <section>
        <img src="{{IMAGE_URL}}" />
    </section>

</main>